<footer class ="footer">
  <small>
    <a href="http://railstutorial.org/">Rails tutorial </a> made by tohach
    
  </small>
  
  <nav>
    <ul>
        <ul>
          <li> <%= link_to "About", about_path %>
          <li> <%= link_to "Contact", contact_path %>
          <li> <a href="www.faqademy.com">News</a></li>
                   
        </ul>
  
  </nav>
  
</footer>
  
